[Unit]
Description=System service for server background process of notipp.
Documentation=http://github.com/lvjhn/notipp
After=network.target

[Service]
Environment=
Type=simple
Group=sudo
ExecStart=/home/lvjhn/.nvm/versions/node/v20.11.0/bin/node /home/lvjhn/Documents/Projects/notipp/hdt/server/index.js
WorkingDirectory=/home/lvjhn/Documents/Projects/notipp
Restart=always

[Install]
WantedBy=multi-user.target